body {
  background-color: #f6f5f5;
}
hr {

    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
    border-color: grey;

    height: 0px;
    width: 10%;

}
h1 {color:#1687a7;
}
h2 {color:#1687a7;
}
h3 {color:#1687a7;
}
