body {
  color: #40514e ;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;

}
.Het { font-size: 70px;}
h1 {
  color: #66BFBF;
  margin: auto;
  font-family: 'Sacramento', cursive;
}
h2 { color: #66BFBF;
    font-family: 'Montserrat', sans-serif;}
h3 {color: #11999E;}
a {color: #11999E;
    font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;}
a:hover{
  color: #EAf6f6;
}
hr {
    border: dotted  #999999 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto 50px auto;
}

.cloudimg {
  width: 10%;
  height: 30%;
  position: relative;
  left: 200px
}

.cloudimg2 {
  width: 10%;
  height: 30%;
  position: relative;
  right: 200px
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 10px;
  padding-bottom: 0;
}

.profile {
  padding-top: 2%;
  border-radius: 100%;
  height: 40%;
  width: 40%;
  margin: auto;
}
.myintro {padding-top:50px;
          width: 70%;
          margin:auto;
        }
.skills {padding-top: 20px;
        padding-bottom: -50px;}

.guitar {
  padding-top: 22px;
  margin-right: 20px;
  width: 25%;
  float: left;
}
.videogame {
  padding-top: 30px;
  margin-left: 20px;
  width: 25%;
  float: right;

}
.coding {
  margin-right: 20px;
  width: 25%;
  float: left;
}
.skill-row {
    padding-top: 70px;


    line-height: 2;
    width: 40%;
    margin: auto ;
   text-align: left;}
.outro
    {width: 30%;
    margin: auto;
    padding-bottom: 30px;}
.contact-me{padding-bottom: 30px; }
.middle-container {
  background-color:#eaf6f6 ;
}

.bottom-container {
  background-color:#66bfbf;
  padding: 20px 0 20px 0 ;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999d);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999d);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999d);
  background-image: -o-linear-gradient(top, #11cdd4, #11999d);
  background-image: linear-gradient(to bottom, #11cdd4, #11999d);
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30ecb;
  background-image: -webkit-linear-gradient(top, #30ecb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30ecb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30ecb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30ecb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30ecb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  color: #EAf6f6;}
